* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #111317 41%, #1F5070 94%, #1F5070 100%);
    background-repeat: no-repeat;
}

header {
    height: 145px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 70px;
    width: 180px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.container {
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: end;
    gap: 30px;
    z-index: 20;
}

.background-img{
    width: 100%;
    position: absolute;
    bottom: 0;
    object-fit: contain;
    z-index: -1;
}

.background-img img{
    width: 100%;
    object-fit: contain;
}

.btn {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #F3F4F7;
    opacity: 0.5;
}

.btn:hover{
    opacity: 1;
}

a {
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}